<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/src/assets/design/tokens.css" />
        <title>Ahmed Ragab - Software Engineer</title>
        <script is:inline>
            (function () {
                const savedTheme = localStorage.getItem("theme");
                const themes = ["nordfox", "nightfox", "carbonfox", "dayfox"];
                if (savedTheme && themes.includes(savedTheme)) {
                    document.documentElement.setAttribute(
                        "data-theme",
                        savedTheme
                    );
                } else {
                    document.documentElement.setAttribute(
                        "data-theme",
                        "nordfox"
                    );
                }
            })();
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>
